/* Korten för kontaktformuläret */
#contactForm {
  max-width: 300px;
  width: 100%;
  margin: 1.5rem auto; /* marginal upp + ner, centrerar automatiskt */
  padding: 25px;
  display: flex; /* Gör formuläret till flex-container */
  flex-direction: column; /* alla inputs och labels läggs på rad ovanpå varandra */
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

/* Textfälten */
#contactForm label {
  font-weight: bold;
  margin: 2px 0 2px;
  display: block; /* gör så labeln tar upp hela bredden, får en egen rad*/
}

/* gör så textfält, meddelandefält och knappen fyller ut hela bredden på formuläret */
#contactForm input,
#contactForm textarea,
#contactForm button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Meddelandefältet görs lite högre än övriga text-fält */
#contactForm textarea {
  min-height: 70px;
  resize: vertical;
}

/*  Knappen  */
#contactForm button {
  background: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s;
}

/* Knappens färg blir mörkare när man hoovrar över det */
#contactForm button:hover {
  background: #165e19;
}

/* Checkmarken för giltiga fält */
.checkmark {
  color: green;
  display: none; /* gömmer den initialt */
}

/* används för att kunna positionera checkmarken nedan till höger i textfältet */
.field-wrap {
  position: relative;
}

/* visas endast när fältet är giltigt - */
.field-wrap .checkmark {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  pointer-events: none;
}

/* gör så checkmarken visas när fältet är giltigt */
.checkmark.visible {
  display: inline-block;
}

/* Felmeddelanden */
.feedback-text {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: red;
  min-height: 1em;
  line-height: 1.2; /* behåller "tomma" utrymmet även när det är tomt, undivker att det hoppar */
}

/* Knappens utseende när den är disabled */
#submitBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
